@if(platformCheck.onBrowser){
<svg class="animated w-11/12" id="man-sorrow" viewBox="0 0 750 500">
  @if(darkModeService.isDark()){
  <g id="moon" class="animable" [innerHTML]="moonPath"></g>
  <g id="stars" class="animable" [innerHTML]="stars"></g>
  }@else{
  <g id="sun" class="animable" [innerHTML]="sunPath"></g>
  <g id="clouds" class="animable" [innerHTML]="cloudAbovePath"></g>
  }
  <g [innerHTML]="floorPath"></g>
  <g [innerHTML]="seaPath"></g>
  <g [innerHTML]="man"></g>
  <g [innerHTML]="logo"></g>
  <g [innerHTML]="plantPath"></g>
  <g [innerHTML]="flagPath"></g>
  <rect x="673.594" y="49.2852" width="3.06402" height="299.862" transform="rotate(-1.9329 673.594 49.2852)"
    fill="#888888" />
</svg>
}
