@if(platformCheck.onBrowser){
<svg class="animated w-11/12" id="man-sorrow" viewBox="0 0 750 500">
  <g [id]="isDark() ? 'moon' : 'sun'" class="animable" [innerHTML]="isDark() ? moonPath : sunPath"></g>
  <g [id]="isDark() ? 'stars' : 'clouds'" class="animable" [innerHTML]="isDark() ? starsPath : cloudAbovePath"></g>

  <g [innerHTML]="floorPath"></g>
  <g [innerHTML]="seaPath"></g>
  <g [innerHTML]="manPath"></g>
  <g [innerHTML]="logoPath"></g>
  <g [innerHTML]="plantPath"></g>
  <g [innerHTML]="flagPath"></g>
  <rect x="673.594" y="49.2852" width="3.06402" height="299.862" transform="rotate(-1.9329 673.594 49.2852)"
    fill="#888888" />
</svg>
}
