svg#freepik_stories-400-error-bad-request:not(.animated) .animable {
  opacity: 0;
}

svg#freepik_stories-400-error-bad-request.animated #freepik--question-marks--inject-3 {
  animation: 1.5s Infinite linear heartbeat;
  animation-delay: 0s;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }

  10% {
    transform: scale(1.1);
  }

  30% {
    transform: scale(1);
  }

  40% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  60% {
    transform: scale(1);
  }

  100% {
    transform: scale(1);
  }
}
