<div
  class="tech-icon {{bordered ? 'dark:border-gray-500  border-gray-400 border px-4 py-2': ''}}
  bg-transparent dark:text-white text-gray-600 rounded-full inline-flex items-center m-1 transition ease-in-out delay-0 hover:scale-[1.1] dark:hover:border-[{{color}}] hover:border-[{{color}}] group">
  <svg-icon src="assets/devicon/{{name}}.svg"
    class=" dark:fill-white fill-gray-600 dark:hover:fill-[{{color}}] group-hover:fill-[{{color}}]"
    [svgStyle]="{ 'width.px':20}">
  </svg-icon>
  <span *ngIf="showName" class="text-sm font-semibold ml-1">{{name}}</span>
</div>
