.tooltip {
  @apply fixed bg-gray-900 dark:bg-gray-500 before:border-gray-500 before:border-[5px] rounded text-white py-[3px] px-[6px] text-sm opacity-0 before:content-[''] before:w-0 before:h-0 before:absolute;

  &--visible {
    @apply opacity-100 transition-opacity;
  }


  &--below {
    transform:translateX(-50%);
    margin-top: 7px;

    &::before {
      border-left-color: transparent;
      border-right-color: transparent;
      border-top: none;
      left: calc(50% - 5px);
      top: -5px;
    }
  }

  &--above {
    transform:translate(-50%, -100%);
    margin-bottom: 7px;

    &::before {
      border-left-color: transparent;
      border-right-color: transparent;
      border-bottom: none;
      left: calc(50% - 5px);
      bottom: -5px;
    }
  }

  &--left {
    transform:translate(calc(-100% - 7px), -50%);

    &::before {
      border-top-color: transparent;
      border-bottom-color: transparent;
      border-right: none;
      right: -5px;
      top: calc(50% - 5px);
    }
  }

  &--right {
    transform:translateY(-50%);
    margin-left: 7px;

    &::before {
      border-top-color: transparent;
      border-bottom-color: transparent;
      border-left: none;
      left: -5px;
      top: calc(50% - 5px);
    }
  }

  &--dynamic {
    margin-left: 20px;

    &::before {
      display: none;
    }
  }
}
