<div class="container px-8 mx-auto xl:px-5">
  <div class="mx-auto max-w-screen-md">
    <h1
      class="text-brand-primary mb-3 mt-2 text-center text-3xl font-semibold tracking-tight lg:text-4xl lg:leading-snug dark:text-white">
      Projects
    </h1>
  </div>
</div>
<div *ngIf="(posts$ | async) as posts"
  class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10 max-w-screen-lg mx-auto my-10 text-left cursor-pointer min-h-screen">
  <div *ngFor="let post of posts" class="max-w-sm mx-auto bg-white dark:bg-gray-900 rounded-lg"
    routerLink="{{post.slug}}">
    <img class="rounded-lg h-80 w-80 object-cover hover:scale-105 transition-all" [src]="post.image"
      [alt]="post.title" />
    <div class="pt-3">
      <div class="my-2">
        <platform-tag *ngFor="let pf of post.platform" [name]="pf.name"></platform-tag>
      </div>
      <h5 class="mb-2 text-lg font-semibold tracking-tight text-gray-900 dark:text-white">{{post.title}}</h5>
      <p class="mb-2 text-sm text-gray-900 dark:text-gray-200">{{post.desc}}</p>
      <!-- <div class="flex flex-row">
        <devicon *ngFor="let t of post.tool" [name]="t" [showName]="false" [tooltip]="t" [bordered]="false"
          [color]="getColorByName(t)"></devicon>
      </div> -->
    </div>
  </div>
</div>
