<div class="mx-auto dark:text-white text-gray-800">
  <header class="flex flex-col gap-7">
    <a class="text-primary-800 hover:text-black dark:text-primary-200 dark:hover:text-white font-medium"
      routerLink="/project">
      <span class="text-xl font-bold">&#8592;</span>
      <span class="ml-2">Back to project list</span>
    </a>
    <div>
      <platform-tag *ngFor="let pl of data.platform" [name]="pl.name"></platform-tag>
      <h1 class="font-semibold text-3xl md:text-4xl md:!leading-[120%] lg:text-5xl  max-w-4xl">
        {{data.title}}</h1>
    </div>
    <img [src]="data.image" class="max-w-full h-auto rounded-3xl bg-cover bg-center w-full" />
  </header>
  <div class="flex flex-col gap-6 text-lg py-6">
    <div class="flex flex-row gap-1">
      <p class="text-base">Tech Stacks:</p>
      <div *ngFor="let t of data.tool" [tooltip]="t">
        <devicon [name]="t" [bordered]="false" [showName]="false" [color]="getColor(t)"></devicon>
      </div>
    </div>
    <div class="post-body" [innerHTML]="data.body | safe: 'html'"></div>
  </div>
</div>
