@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  @apply bg-white dark:bg-gray-900
}
::-webkit-scrollbar {
  @apply w-2
}
::-webkit-scrollbar-track {
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  @apply bg-gray-500 rounded-3xl
}
a{
  @apply cursor-pointer
}
.medium-zoom-overlay{
  @apply dark:bg-gray-900/85 bg-white/85 z-[2] #{!important}
}

.medium-zoom-image{
  @apply z-10
}
