@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  // html {
  //   font-family: "League Spartan", sans-serif;
  // }
}
body{
  @apply bg-white dark:bg-gray-900
}
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(156 163 175 / var(--tw-bg-opacity));
}

*::-webkit-scrollbar {
  @apply w-2
}

*::-webkit-scrollbar-track {
  @apply bg-gray-50 dark:bg-gray-800
}

*::-webkit-scrollbar-thumb {
  @apply bg-gray-400 border rounded-3xl
}

::-moz-selection {
  @apply bg-primary text-white
}

::selection {
  @apply bg-primary text-white
}
a{
  @apply cursor-pointer
}
.medium-zoom-overlay{
  @apply dark:bg-gray-900/85 bg-white/85 z-[2] #{!important}
}

.medium-zoom-image{
  @apply z-10
}
